*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 15vh;
    font-family: sans-serif;
    color: #2B2B2B;
    background: #FAFAFA;
}

a{
    text-decoration: none;
}

form{
    width: clamp(400px, 40vw, 616px);
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 6px 16px 32px rgba(0, 0, 0, 0.12), 0px 0px 12px rgba(0, 0, 0, 0.1);
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.input-field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-field > p{
    font-weight: 600;
}

.input-field > input{
    padding-block: 0.5rem;
    font-size: 20px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid black;
}

input[type="submit"]{
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    font-size: 18px;
    font-weight: 600;
    background: #2B2B2B;
    color: #FAFAFA;
    opacity: 1;
    transition: 0.35s opacity ease-in-out;
}

input[type="submit"]:hover{
    opacity: 0.7;
}

.radio-wrapper #m{
    margin-right: 1rem;
}

table{
    border-spacing: 0px;
    text-align: center;
    width: clamp(400px, 100%, 1000px);
}

th,
td{
    padding: 1rem;
}

th{
    background: #2B2B2B;
    color: #FAFAFA;
}

td{
    background: #EEEEEE;
    word-break: break-all;
}

.edit-btn,
.delete-btn{
    font-weight: 600;
}

.edit-btn{
    color: green;
}

.delete-btn{
    color: red;
}

.edit-btn:hover,
.delete-btn:hover{
    text-decoration: underline;
}